$emerald-700: #047857;
$white: #fff;
$slate-900: #0f172a;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $emerald-700;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .gameboard {
    background-color: $white;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 10px;

    .gameboard-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      border: 1px solid $slate-900;
    }
  }
}
